---
destinations: 
  zlb1.example.com: 
    type: stingray
    hostname: zlb1.example.com
    username: trophystore
    password: "my_ZLB_passw0rd"
    description: zlb1.example.com
certificate_authorities:
    digicert:
        type: digicert
        account_id: 012345
        api_key: abcdefghijklmnopqrstuvwxyz012345
users:
  - jdoe@example.com
  - jroe@mozilla.com
